{{! {>partials/header}} 
<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,400;1,900&display=swap" rel="stylesheet">
    
    <body>
    <head>
            <h1>AFONSO CLÁUDIO</h1>
            <br>
        </head>
        <hr>
        <h2>tabela de vendas mensais:</h2>
        <hr>
        <br>
        <table 
            width="40%" 
            border="4" 
            bordercolor=#BEBEBE
            cellspacing="10" 
            cellpadding="4" 
            bgcolor="#DCDCDC" id="afc"
        >   
        <tr> 
        <th class="c"  bgcolor="#6C7B8B">vendas</th>

        <th class="c" 
        bgcolor="#6C7B8B">mes</th>
        </tr>
        {{#list}}
        <tr>
        <th>{{Total}}</th>
        <th>{{Mes}}</th>
        {{/list}}
        </table>
    </body>
</html>
{{! {{>partials/footer}} 