{{! {>partials/header}} 


<div class="container list">
    {{#list}}
    <div class="item">
        <div class="item--name">{{Cidade}}</div>
        <div class="item--color">Total: {{ Total }}</div>
        <div class="item--genre">Mês: {{ Mes }}</div>
    </div> 
    {{/list}}

    {{^list}}
    <div class="container-no-list">
    <h2>Não há cidades neste Mês</h2>


    </div>
    {{/list}}



{{! {{>partials/footer}} 